server {
    listen 80 default_server;
    server_name _;
    keepalive_timeout   0;
    allow       10.0.1.11;
    allow       ::1;
    deny        all;

    access_log /var/log/nginx/access.status.log main;
    error_log /var/log/nginx/error.status.log debug;

location /basic_status {
        stub_status     on;
        }
}