MONGODB_URI=mongodb://10.0.1.26:27017,10.0.1.27:27017/?replicaSet=mongo_cluster1
MONGODB_USER=piggy
MONGODB_PASSWORD=piggy
NOTIFICATION_DATABASE=notification
STATISTIC_DATABASE=statistic
AUTH_DATABASE=auth
ACCOUNT_DATABASE=account
CONFIG_SERVICE_PASSWORD=password
NOTIFICATION_SERVICE_PASSWORD=password
STATISTICS_SERVICE_PASSWORD=password
ACCOUNT_SERVICE_PASSWORD=password
