version: '3'
services:
  fluentd:
    build: ../src/fluentd
    ports:
      - "24224:24224"
      - "24224:24224/udp"

  elasticsearch:
    image: elasticsearch:7.4.0
    environment:
      - discovery.type=single-node
    expose:
    - 9200
    ports:
    - "9200:9200"

  kibana:
    image: kibana:7.4.0
    ports:
    - "5601:5601"

